@import "~@figleafteam/components/dist/index.css";

.vault {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.vault__button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.vault__title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.vault__wrapper {
  height: 100%;
}
